/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css');

body {
  margin: 0;
  padding-top: 65px;
  min-width: 320px;
  min-height: 100vh;
}
